input {
 width: 300px;
 margin-bottom: 10px;
}

button {
 margin-top: 10px;
}

.container {
 flex: 1;
 justify-content: center;
 align-items: center;
 margin: 150px 0 0 -100px;
}

.login-form {
 box-shadow: black;
 border: 1px solid rgb(214, 214, 214);
 border-radius: 10px;
 padding: 48px;
 width: 400px;
 margin: auto;
}