<div class="container">
  <div class="action-header">
    <a class="btn btn-primary" routerLink="/movies/create">
      New Movie
    </a>

    <form class="d-flex">
      <input 
        class="form-control me-2" 
        type="search" 
        name="search"
        placeholder="Search" 
        aria-label="Search"
        [(ngModel)]="searchText"
        autocomplete="off"
      >
      <button class="btn btn-outline-success" type="submit">
        <fa-icon [icon]="search"></fa-icon>
      </button>
    </form>
  </div>
  <br>

  <table class="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Author</td>
        <td>Year</td>
        <td>Genre</td>
        <td>Action</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let movie of movies | filter: searchText">
        <td>{{ movie.id }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.author }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.genre }}</td>
        <td>
          <a class="btn btn-success btn-sm" (click)="open(movie.id)" data-target="#movie-detail">
            <fa-icon [icon]="eye"></fa-icon>
          </a>
          <span style="margin-left: 8px;"></span>
          <a class="btn btn-warning btn-sm" (click)="onSelectedMovie(movie.id)">
            <fa-icon [icon]="penAlt"></fa-icon>
          </a>
          <span style="margin-left: 8px;"></span>
          <a class="btn btn-danger btn-sm" (click)="onDeleteMovie(movie)">
            <fa-icon [icon]="trashAlt"></fa-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" tabindex="-1" aria-disabled="true" (click)="fetchPrevious()">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" (click)="fetchNext()">Next</a>
      </li>
    </ul>
  </nav>
  
  <!-- <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div> -->

  <!-- | paginate: {itemsPerPage: pageCount, currentPage: p} -->
</div>