<form class="form" (ngSubmit)="onCreateMovie()">
 <div class="mb-3 row">
  <label for="title" class="col-sm-2 col-form-label">Title</label>
  <div class="col-sm-10">
    <input type="text" name="title" class="form-control" [(ngModel)]="title">
  </div>
 </div>

 <div class="mb-3 row">
  <label for="author" class="col-sm-2 col-form-label">Author</label>
  <div class="col-sm-10">
    <input type="text" name="author" class="form-control" [(ngModel)]="author">
  </div>
 </div>

 <div class="mb-3 row">
  <label for="year" class="col-sm-2 col-form-label">Year</label>
  <div class="col-sm-10">
    <input type="text" name="year" class="form-control" [(ngModel)]="year">
  </div>
 </div>

 <div class="mb-3 row">
  <label for="genre" class="col-sm-2 col-form-label">Genre</label>
  <div class="col-sm-10">
    <input type="text" name="genre" class="form-control" [(ngModel)]="genre">
  </div>
 </div>

 <div class="mb-3 row">
  <label for="image" class="col-sm-2 col-form-label">Image</label>
  <div class="col-sm-10">
    <input type="file" name="image" class="form-control">
  </div>
 </div>

 <div class="action-button">
  <button class="btn btn-primary" type="submit">Submit</button>
  <button class="btn btn-secondary">Cancel</button>
 </div>
</form>