#sidebar {
 height: 100%;
 width: 16%;
 padding-top: 80px;
 position: fixed;
 background-color: #111;
}

#dashboard {
 margin-top: 70px;
}

#navbar {
 background-color: black;
 box-shadow: 0 4x 5x rgba(0,0,0,0.2) 0 4x 4x rgba(0,0,0,0.26);
}

.footer {
 color: grey;
 bottom: 0;
 padding: 20px 20px 0 0;
 font-size: 12px;
 text-align: right;
}