.nav .nav-item a {
 color: #fff;
}

.nav .nav-item a:hover {
 color: gold;
}

.nav #logout {
 position: absolute;
 bottom: 0;
 padding-bottom: 30px;
}

.nav #logout:hover {
 position: absolute;
 bottom: 0;
 padding-bottom: 30px;
 cursor: pointer;
}