nav .navbar-brand {
 color: gold;
}

nav .navbar-nav .nav-link {
 color: #FFF;
 cursor: pointer;
}

nav .navbar-nav .nav-link:hover {
 cursor: pointer;
 color: gold;
}

nav .navbar-nav #logout:hover {
 cursor: pointer;
 color: red;
}

nav {
 background-color: #343B40;
}